* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-image:linear-gradient(#c9bbbd, #4f4043);
}

.title {
  padding-left: 2vw;
  width: 100vw;
  max-height: 10vh;
}

.card {
  background-color: white;
  width: 23%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  
}

.card:hover{
  box-shadow: 10px 10px 5px rgba(33,33,33,.2); 
  transform: scale(1.05); ;
}

img {
  width: 100%;
}

h3 {
  margin: 5px;
  color: rgb(0, 0, 0);
  text-shadow: darkgrey 5px;
}
p {
  padding: 10px;
  margin: 5px;
  color:black;
  align-content: flex-start;
}
